Repository funidata/fudis, pull requests merged in 2025-08, with the labels that each got.

#635 Create prerelease 7.0.0-rc.1
  ngx-fudis/package-lock.json
  ngx-fudis/package.json
  ngx-fudis/projects/ngx-fudis/package-lock.json
  ngx-fudis/projects/ngx-fudis/package.json
  package-lock.json
  package.json
  test/package-lock.json
  test/package.json
Labels: exclude from release notes

#650 Create redirect objects in /ngx child paths when publishing docs
  .github/workflows/release.yaml
Labels: exclude from release notes, github actions

#651 Run VR tests in parallel to reduce CI run duration
  .github/workflows/run_tests.yaml
  test/playwright.config.ts
Labels: exclude from release notes, github actions

#636 [Debendabot]: Configure debendbot yaml
  .github/dependabot.yaml
  .github/workflows/publish_docs_from_pr.yaml
Labels: bug fix
